.add-todo{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px auto 0px auto;
  width: 800px;

  .add-todo-input{
    border: 1px solid transparent;
    display: block;
    font-size: 2em;
    outline: none;
    padding: 20px;
    width: 100%;

    &:focus{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    }
  }

  .add-todo-button{
    display: none;
  }
}
